<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Example Site</title>
    <meta name="description" content="This is a simple example site">

    <link rel="icon" type="image/png" href="images/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="css/all.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,900,900italic,700,100italic,100' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="logo">
			<img src="images/logo.png" alt="example logo">
		</div>
	</header>
	
	<div class="main">
		<section class="wrapper padding-default">
			<h1>Example Site</h1>
			
			<p>Well, it seems to be working!</p>
		</section>
	</div>
    <!-- SCRIPTS -->

</body>
</html>